# API framework
fastapi
uvicorn[standard]
python-dotenv

# LangChain ecosystem
langchain
langchain-community
langchain-groq
langchain-text-splitters

# Vector DB
chromadb

# Embeddings
sentence-transformers
huggingface-hub

# Networking / feeds
httpx
feedparser

gunicorn